In [142]:
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine

In [143]:
df_costa=pd.read_csv('csv/20230706zonaprops_inmuebles-alquiler-temporal-buenos-aires-costa-atlantica.csv')
df_provbasas=pd.read_csv('csv/20230706zonaprops_inmuebles-alquiler-temporal-buenos-aires-fuera-de-gba.csv')
df_caba=pd.read_csv('csv/20230706zonaprops_inmuebles-alquiler-temporal-capital-federal.csv')
df_cordoba=pd.read_csv('csv/20230706zonaprops_inmuebles-alquiler-temporal-cordoba.csv')
df_entrerios=pd.read_csv('csv/20230706zonaprops_inmuebles-alquiler-temporal-entre-rios.csv')
df_gbanorte=pd.read_csv('csv/20230706zonaprops_inmuebles-alquiler-temporal-gba-norte.csv')
df_gbaoeste=pd.read_csv('csv/20230706zonaprops_inmuebles-alquiler-temporal-gba-oeste.csv')
df_mendoza=pd.read_csv('csv/20230706zonaprops_inmuebles-alquiler-temporal-mendoza.csv')
df_neuquen=pd.read_csv('csv/20230706zonaprops_inmuebles-alquiler-temporal-neuquen.csv')
df_rionegro=pd.read_csv('csv/20230706zonaprops_inmuebles-alquiler-temporal-rio-negro.csv')

In [144]:
df=pd.concat([df_caba,df_provbasas,df_costa,df_gbanorte,df_gbaoeste,
           df_cordoba,df_mendoza,df_neuquen,df_rionegro,df_entrerios],ignore_index=True)

In [145]:
df['tipo_transacción']=df['tipo_transacción'].replace('venta_inmueble','alquiler_temporal')

In [146]:
df['datos']= df['datos'].fillna('SINDATO')

In [147]:

df['datos']=df['datos'].str.rstrip() #rstrip to remove right spaces and split to deal with repeated values

df['datos']= df['datos'].str.split('  ')
df['datos']

0        [ 48 m²,  48 m²,  38 m²,  38 m²,  2 amb.,  2 a...
1        [ 35 m²,  35 m²,  35 m²,  35 m²,  1 amb.,  1 a...
2        [ 60 m²,  60 m²,  55 m²,  55 m²,  2 amb.,  2 a...
3        [ 55 m²,  55 m²,  48 m²,  48 m²,  2 amb.,  2 a...
4        [ 25 m²,  25 m²,  25 m²,  25 m²,  1 amb.,  1 a...
                               ...
16198    [ 51 m²,  51 m²,  47 m²,  47 m²,  2 amb.,  2 a...
16199    [ 1700 m²,  1700 m²,  60 m²,  60 m²,  1 dorm.,...
16200    [ 5 amb.,  5 amb.,  3 dorm.,  3 dorm.,  2 baño...
16201    [ 65 m²,  65 m²,  55 m²,  55 m²,  2 amb.,  2 a...
16202    [ 28 m²,  28 m²,  25 m²,  25 m²,  1 amb.,  1 a...
Name: datos, Length: 16203, dtype: object

In [148]:
df['datos'] =df['datos'].apply(lambda x: [val for idx, val in enumerate(x) if idx % 2 == 0]) #saco duplicados

In [149]:
df['datos']= df['datos'].str.join(' ') #vuelvo a juntar la columna luego de sacar los valores duplicados

In [150]:
#df['ambientes'] = df['datos'].str.extract(r"(\d+ amb.)") #ambientes
#df['ambientes'] = df['datos'].str.extract(r"(\d+ dorm.)")
df['ambientes'] = df['datos'].str.extract(r"(\d+ amb\.|\d+ dorm\.)")

In [151]:
df['baño'] = df['datos'].str.extract(r"(\d+ baño)") #baño
df['baño']

0        1 baño
1        1 baño
2        1 baño
3        2 baño
4        1 baño
          ...
16198    1 baño
16199    1 baño
16200    2 baño
16201    2 baño
16202    1 baño
Name: baño, Length: 16203, dtype: object

In [152]:
df['cochera']=df['datos'].str.extract(r"(\d+ coch.)")

In [153]:
df['precio_inmueble']=df['precio_inmueble'].replace('Consultar precio',None)

In [154]:
df['precio_inmueble']

0          USD 460
1        $ 220.000
2          USD 800
3          USD 700
4          USD 480
           ...
16198     $ 16.000
16199      $ 7.500
16200      USD 111
16201         None
16202         None
Name: precio_inmueble, Length: 16203, dtype: object

In [155]:
df['currency'] = df['precio_inmueble'].str.split()

In [156]:
df['currency'] =df['currency'].apply(lambda x: x[0] if x is not None else None)

df['currency']

0         USD
1           $
2         USD
3         USD
4         USD
         ...
16198       $
16199       $
16200     USD
16201    None
16202    None
Name: currency, Length: 16203, dtype: object

In [157]:
currency_transform ={'USD':'DOLAR','$':'PESOS'} #transformed the currency
df['currency'] =df['currency'].map(currency_transform)

In [158]:
df['currency']

0        DOLAR
1        PESOS
2        DOLAR
3        DOLAR
4        DOLAR
         ...
16198    PESOS
16199    PESOS
16200    DOLAR
16201      NaN
16202      NaN
Name: currency, Length: 16203, dtype: object

In [159]:
df['valor_currency'] = df['precio_inmueble'].str.split()

df['valor_currency'] =df['valor_currency'].apply(lambda x: x[1] if x is not None else None)

In [160]:
df['valor_currency']

0            460
1        220.000
2            800
3            700
4            480
          ...
16198     16.000
16199      7.500
16200        111
16201       None
16202       None
Name: valor_currency, Length: 16203, dtype: object

In [161]:
df['barrio'].isnull().sum()

0

In [162]:
df.rename(columns={'barrio':'ubicacion_gral'},inplace=True)

In [163]:
df['ubicacion_gral'].str.split(',')

0          [Recoleta,  Capital Federal]
1        [Colegiales,  Capital Federal]
2             [Núñez,  Capital Federal]
3               [Las Cañitas,  Palermo]
4          [Belgrano,  Capital Federal]
                      ...
16198           [Victoria,  Entre Ríos]
16199          [Concordia,  Entre Ríos]
16200           [Victoria,  Entre Ríos]
16201          [Concordia,  Entre Ríos]
16202             [Paraná,  Entre Ríos]
Name: ubicacion_gral, Length: 16203, dtype: object

In [164]:
df['localidad']=df['ubicacion_gral'].str.split(',').str.get(0)
df['jurisdiccion']=df['ubicacion_gral'].str.split(',').str.get(1)

In [165]:
df.isnull().sum()

fecha                   0
tipo_transacción        0
precio_inmueble       461
datos                   0
ubicacion_gral          0
expensas            13402
descripcion            19
ambientes             226
baño                  678
cochera             10617
currency              463
valor_currency        461
localidad               0
jurisdiccion            0
dtype: int64

In [166]:
df[df['currency'].isnull() & df['valor_currency'].notnull()] #hay 2 registros que tienen valor nulo en exepnsas porque dice Pesos

,fecha,tipo_transacción,precio_inmueble,datos,ubicacion_gral,expensas,descripcion,ambientes,baño,cochera,currency,valor_currency,localidad,jurisdiccion
8049,20230706,alquiler_temporal,Pesos 30.000,900 m² 230 m² 4 amb. 2 dorm. 2 baños 2 c...,"Bosque Peralta Ramos, Mar del Plata",NaN,"Alquilo hermosa cabaña de 2 plantas, para 4 ó ...",4 amb.,2 baño,2 coch.,NaN,30.000,Bosque Peralta Ramos,Mar del Plata
8060,20230706,alquiler_temporal,Pesos 30.000,900 m² 230 m² 4 amb. 2 dorm. 2 baños 2 c...,"Bosque Peralta Ramos, Mar del Plata",NaN,"Alquilo hermosa cabaña de 2 plantas, para 4 ó ...",4 amb.,2 baño,2 coch.,NaN,30.000,Bosque Peralta Ramos,Mar del Plata

In [167]:
df.loc[8049,'currency']

nan

In [168]:
df.loc[8049, 'currency'] = 'PESOS' #changing those values
df.loc[8060, 'currency'] = 'PESOS'

In [169]:
df.isnull().sum()

fecha                   0
tipo_transacción        0
precio_inmueble       461
datos                   0
ubicacion_gral          0
expensas            13402
descripcion            19
ambientes             226
baño                  678
cochera             10617
currency              461
valor_currency        461
localidad               0
jurisdiccion            0
dtype: int64

In [170]:
df['ambientes'].isnull().sum()

226

In [171]:
df[df['ambientes'].isna()].index

Index([  153,   239,   295,   602,   658,   865,   994,  1053,  1056,  1071,
       ...
       15634, 15648, 15708, 15779, 15800, 15828, 15848, 15899, 16014, 16190],
      dtype='int64', length=226)

In [172]:
df[['terreno', 'metros_cuadrados']] = df['datos'].str.extract(r'(\d+ m²)\s*(\d+ m²)?')

In [173]:
df.isnull().sum()

fecha                   0
tipo_transacción        0
precio_inmueble       461
datos                   0
ubicacion_gral          0
expensas            13402
descripcion            19
ambientes             226
baño                  678
cochera             10617
currency              461
valor_currency        461
localidad               0
jurisdiccion            0
terreno               316
metros_cuadrados     1003
dtype: int64

In [174]:
index_to_check=df[df['ambientes'].isna()].index
index_to_check

Index([  153,   239,   295,   602,   658,   865,   994,  1053,  1056,  1071,
       ...
       15634, 15648, 15708, 15779, 15800, 15828, 15848, 15899, 16014, 16190],
      dtype='int64', length=226)

In [175]:
df[df['ambientes'].isna()]['descripcion'].str.contains('monoambiente',flags=re.IGNORECASE)

153       True
239      False
295      False
602      False
658      False
         ...
15828    False
15848    False
15899    False
16014     True
16190    False
Name: descripcion, Length: 226, dtype: object

In [176]:
#indices donde hay valores nulos en ambientes y fijarse si en descripcion existe la palabra monoambiente

indices = df.loc[df['ambientes'].isna() & df['descripcion'].str.contains('monoambiente', flags=re.IGNORECASE)].index

indices

Index([  153,   994,  1071,  1135,  1319,  1332,  1364,  1437,  1476,  2589,
        2667,  2743,  2927,  3057,  3189,  3229,  3262,  3267,  3366,  3522,
        3524,  3532,  3596,  4333,  4367,  4778,  4807,  4830,  4858,  4890,
        5109,  5114,  5352,  6016,  7566,  7829, 11137, 15063, 15556, 15634,
       15648, 15779, 15800, 16014],
      dtype='int64')

In [177]:
df.loc[indices, 'ambientes'] = 1

In [178]:
df.isnull().sum()

fecha                   0
tipo_transacción        0
precio_inmueble       461
datos                   0
ubicacion_gral          0
expensas            13402
descripcion            19
ambientes             182
baño                  678
cochera             10617
currency              461
valor_currency        461
localidad               0
jurisdiccion            0
terreno               316
metros_cuadrados     1003
dtype: int64

In [179]:
df[df['ambientes'].isna()]['descripcion'].str.contains('oficina',flags=re.IGNORECASE) 
#ver el subset del df de ambientes donde hay valores nules
# y a eso veo si en descripcion tiene la palabra oficina

239       True
295      False
602       True
658      False
865       True
         ...
15708    False
15828    False
15848    False
15899    False
16190    False
Name: descripcion, Length: 182, dtype: object

In [223]:
df['descripcion'] =df['descripcion'].fillna('')

mask = df['descripcion'].str.contains('oficina',flags=re.IGNORECASE) #valores de oficina

indices = df.index[mask].tolist()

In [181]:
df['oficina']= 'NO' #agrego el NO a todo

In [182]:
df.loc[indices,'oficina'] = 'SI' #modifico el si a esos casos

In [183]:
df['oficina'].value_counts()

oficina
NO    14225
SI     1978
Name: count, dtype: int64

In [200]:
mask2 =df[df['baño'].isna()]['descripcion'].str.contains("baño",flags=re.IGNORECASE)
indices_true = mask2[mask2].index.tolist()

In [222]:
index=df.loc[indices_true,'descripcion'].str.extract(r"(\d+ baño)",flags=re.IGNORECASE).index
                                                                                 #veo los que son nulos 
valores=df.loc[indices_true,'descripcion'].str.extract(r"(\d+ baño)",flags=re.IGNORECASE)[0]

df.loc[index,'baño']=valores

In [224]:
df.isnull().sum()

fecha                   0
tipo_transacción        0
precio_inmueble       461
datos                   0
ubicacion_gral          0
expensas            13402
descripcion             0
ambientes             182
baño                  573
cochera             10617
currency              461
valor_currency        461
localidad               0
jurisdiccion            0
terreno               316
metros_cuadrados     1003
oficina                 0
dtype: int64

In [226]:
mask2 =df[df['baño'].isna()]['descripcion'].str.contains("baño",flags=re.IGNORECASE)
indices_true = mask2[mask2].index.tolist()

len(indices_true) #donde no hay numero solo aparece la palabra baño

354

In [227]:
df.loc[indices_true,'baño'] = '1 baño' #les designo el 1

In [232]:
df['expensas'] = df['expensas'].fillna('0') #fill with 0 no hay expensas

In [238]:
df['cochera'] = df['cochera'].fillna('0 coch.') #no hay cochera

In [240]:
df['metros_cuadrados'] = df['metros_cuadrados'].mask(df['metros_cuadrados'].isnull(), df['terreno'])

In [241]:
df.isnull().sum()

fecha                 0
tipo_transacción      0
precio_inmueble     461
datos                 0
ubicacion_gral        0
expensas              0
descripcion           0
ambientes           182
baño                219
cochera               0
currency            461
valor_currency      461
localidad             0
jurisdiccion          0
terreno             316
metros_cuadrados    316
oficina               0
dtype: int64

In [243]:
indices_iguales = df.loc[df['metros_cuadrados'] == df['terreno']].index.tolist()

len(indices_iguales)

6869

In [257]:
df['metros_cuadrados']= df['metros_cuadrados'].str.split().str.get(0) #select only the first element

df['terreno'] =df['terreno'].str.split().str.get(0) #first element

df['ambientes'] = df['ambientes'].str.split().get(0)

In [259]:
df['ambientes']

0         2 amb.
1         1 amb.
2         2 amb.
3         2 amb.
4         1 amb.
          ...
16198     2 amb.
16199    1 dorm.
16200     5 amb.
16201     2 amb.
16202     1 amb.
Name: ambientes, Length: 16203, dtype: object

In [ ]:
# Set up the database connection
#engine = create_engine('postgresql://agustin:Sofia187#@localhost:5432/props_db')



# Specify the table name and the engine for the database connection
#table_name = 'inmuebles_alquiler_mendoza'

# Write the DataFrame to the PostgreSQL database
#df.to_sql(table_name, engine,  index=False)
#df.to_sql(table_name,engine, if_exists='append' ,index=False)

# Close the database connection
#engine.dispose()