In [1]:
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine

In [2]:
df_costa=pd.read_csv('csv/20230706zonaprops_inmuebles-alquiler-temporal-buenos-aires-costa-atlantica.csv')
df_provbasas=pd.read_csv('csv/20230706zonaprops_inmuebles-alquiler-temporal-buenos-aires-fuera-de-gba.csv')
df_caba=pd.read_csv('csv/20230706zonaprops_inmuebles-alquiler-temporal-capital-federal.csv')
df_cordoba=pd.read_csv('csv/20230706zonaprops_inmuebles-alquiler-temporal-cordoba.csv')
df_entrerios=pd.read_csv('csv/20230706zonaprops_inmuebles-alquiler-temporal-entre-rios.csv')
df_gbanorte=pd.read_csv('csv/20230706zonaprops_inmuebles-alquiler-temporal-gba-norte.csv')
df_gbaoeste=pd.read_csv('csv/20230706zonaprops_inmuebles-alquiler-temporal-gba-oeste.csv')
df_mendoza=pd.read_csv('csv/20230706zonaprops_inmuebles-alquiler-temporal-mendoza.csv')
df_neuquen=pd.read_csv('csv/20230706zonaprops_inmuebles-alquiler-temporal-neuquen.csv')
df_rionegro=pd.read_csv('csv/20230706zonaprops_inmuebles-alquiler-temporal-rio-negro.csv')

In [3]:
df=pd.concat([df_caba,df_provbasas,df_costa,df_gbanorte,df_gbaoeste,
           df_cordoba,df_mendoza,df_neuquen,df_rionegro,df_entrerios],ignore_index=True)

In [4]:
df['tipo_transacción']=df['tipo_transacción'].replace('venta_inmueble','alquiler_temporal')

In [5]:
df['datos']= df['datos'].fillna('SINDATO')

In [6]:

df['datos']=df['datos'].str.rstrip() #rstrip to remove right spaces and split to deal with repeated values

df['datos']= df['datos'].str.split('  ')
df['datos']

0        [ 48 m²,  48 m²,  38 m²,  38 m²,  2 amb.,  2 a...
1        [ 35 m²,  35 m²,  35 m²,  35 m²,  1 amb.,  1 a...
2        [ 60 m²,  60 m²,  55 m²,  55 m²,  2 amb.,  2 a...
3        [ 55 m²,  55 m²,  48 m²,  48 m²,  2 amb.,  2 a...
4        [ 25 m²,  25 m²,  25 m²,  25 m²,  1 amb.,  1 a...
                               ...
16198    [ 51 m²,  51 m²,  47 m²,  47 m²,  2 amb.,  2 a...
16199    [ 1700 m²,  1700 m²,  60 m²,  60 m²,  1 dorm.,...
16200    [ 5 amb.,  5 amb.,  3 dorm.,  3 dorm.,  2 baño...
16201    [ 65 m²,  65 m²,  55 m²,  55 m²,  2 amb.,  2 a...
16202    [ 28 m²,  28 m²,  25 m²,  25 m²,  1 amb.,  1 a...
Name: datos, Length: 16203, dtype: object

In [7]:
df['datos'] =df['datos'].apply(lambda x: [val for idx, val in enumerate(x) if idx % 2 == 0]) #saco duplicados

In [8]:
df['datos']= df['datos'].str.join(' ') #vuelvo a juntar la columna luego de sacar los valores duplicados

In [9]:
#df['ambientes'] = df['datos'].str.extract(r"(\d+ amb.)") #ambientes
#df['ambientes'] = df['datos'].str.extract(r"(\d+ dorm.)")
df['ambientes'] = df['datos'].str.extract(r"(\d+ amb\.|\d+ dorm\.)")

In [10]:
df['baño'] = df['datos'].str.extract(r"(\d+ baño)") #baño
df['baño']

0        1 baño
1        1 baño
2        1 baño
3        2 baño
4        1 baño
          ...
16198    1 baño
16199    1 baño
16200    2 baño
16201    2 baño
16202    1 baño
Name: baño, Length: 16203, dtype: object

In [11]:
df['cochera']=df['datos'].str.extract(r"(\d+ coch.)")

In [12]:
df['precio_inmueble']=df['precio_inmueble'].replace('Consultar precio',None)

In [13]:
df['precio_inmueble']

0          USD 460
1        $ 220.000
2          USD 800
3          USD 700
4          USD 480
           ...
16198     $ 16.000
16199      $ 7.500
16200      USD 111
16201         None
16202         None
Name: precio_inmueble, Length: 16203, dtype: object

In [14]:
df['currency'] = df['precio_inmueble'].str.split()

In [15]:
df['currency'] =df['currency'].apply(lambda x: x[0] if x is not None else None)

df['currency']

0         USD
1           $
2         USD
3         USD
4         USD
         ...
16198       $
16199       $
16200     USD
16201    None
16202    None
Name: currency, Length: 16203, dtype: object

In [16]:
currency_transform ={'USD':'DOLAR','$':'PESOS'} #transformed the currency
df['currency'] =df['currency'].map(currency_transform)

In [17]:
df['currency']

0        DOLAR
1        PESOS
2        DOLAR
3        DOLAR
4        DOLAR
         ...
16198    PESOS
16199    PESOS
16200    DOLAR
16201      NaN
16202      NaN
Name: currency, Length: 16203, dtype: object

In [18]:
df['valor_currency'] = df['precio_inmueble'].str.split()

df['valor_currency'] =df['valor_currency'].apply(lambda x: x[1] if x is not None else None)

In [19]:
df['valor_currency']

0            460
1        220.000
2            800
3            700
4            480
          ...
16198     16.000
16199      7.500
16200        111
16201       None
16202       None
Name: valor_currency, Length: 16203, dtype: object

In [20]:
df['barrio'].isnull().sum()

0

In [21]:
df.rename(columns={'barrio':'ubicacion_gral'},inplace=True)

In [22]:
df['ubicacion_gral'].str.split(',')

0          [Recoleta,  Capital Federal]
1        [Colegiales,  Capital Federal]
2             [Núñez,  Capital Federal]
3               [Las Cañitas,  Palermo]
4          [Belgrano,  Capital Federal]
                      ...
16198           [Victoria,  Entre Ríos]
16199          [Concordia,  Entre Ríos]
16200           [Victoria,  Entre Ríos]
16201          [Concordia,  Entre Ríos]
16202             [Paraná,  Entre Ríos]
Name: ubicacion_gral, Length: 16203, dtype: object

In [23]:
df['localidad']=df['ubicacion_gral'].str.split(',').str.get(0)
df['jurisdiccion']=df['ubicacion_gral'].str.split(',').str.get(1)

In [24]:
df.isnull().sum()

fecha                   0
tipo_transacción        0
precio_inmueble       461
datos                   0
ubicacion_gral          0
expensas            13402
descripcion            19
ambientes             226
baño                  678
cochera             10617
currency              463
valor_currency        461
localidad               0
jurisdiccion            0
dtype: int64

In [25]:
df[df['currency'].isnull() & df['valor_currency'].notnull()] #hay 2 registros que tienen valor nulo en exepnsas porque dice Pesos

,fecha,tipo_transacción,precio_inmueble,datos,ubicacion_gral,expensas,descripcion,ambientes,baño,cochera,currency,valor_currency,localidad,jurisdiccion
8049,20230706,alquiler_temporal,Pesos 30.000,900 m² 230 m² 4 amb. 2 dorm. 2 baños 2 c...,"Bosque Peralta Ramos, Mar del Plata",NaN,"Alquilo hermosa cabaña de 2 plantas, para 4 ó ...",4 amb.,2 baño,2 coch.,NaN,30.000,Bosque Peralta Ramos,Mar del Plata
8060,20230706,alquiler_temporal,Pesos 30.000,900 m² 230 m² 4 amb. 2 dorm. 2 baños 2 c...,"Bosque Peralta Ramos, Mar del Plata",NaN,"Alquilo hermosa cabaña de 2 plantas, para 4 ó ...",4 amb.,2 baño,2 coch.,NaN,30.000,Bosque Peralta Ramos,Mar del Plata

In [26]:
df.loc[8049,'currency']

nan

In [27]:
df.loc[8049, 'currency'] = 'PESOS' #changing those values
df.loc[8060, 'currency'] = 'PESOS'

In [28]:
df.isnull().sum()

fecha                   0
tipo_transacción        0
precio_inmueble       461
datos                   0
ubicacion_gral          0
expensas            13402
descripcion            19
ambientes             226
baño                  678
cochera             10617
currency              461
valor_currency        461
localidad               0
jurisdiccion            0
dtype: int64

In [29]:
df['ambientes'].isnull().sum()

226

In [30]:
df[df['ambientes'].isna()].index

Index([  153,   239,   295,   602,   658,   865,   994,  1053,  1056,  1071,
       ...
       15634, 15648, 15708, 15779, 15800, 15828, 15848, 15899, 16014, 16190],
      dtype='int64', length=226)

In [31]:
df[['terreno', 'metros_cuadrados']] = df['datos'].str.extract(r'(\d+ m²)\s*(\d+ m²)?')

In [32]:
df.isnull().sum()

fecha                   0
tipo_transacción        0
precio_inmueble       461
datos                   0
ubicacion_gral          0
expensas            13402
descripcion            19
ambientes             226
baño                  678
cochera             10617
currency              461
valor_currency        461
localidad               0
jurisdiccion            0
terreno               316
metros_cuadrados     1003
dtype: int64

In [33]:
index_to_check=df[df['ambientes'].isna()].index
index_to_check

Index([  153,   239,   295,   602,   658,   865,   994,  1053,  1056,  1071,
       ...
       15634, 15648, 15708, 15779, 15800, 15828, 15848, 15899, 16014, 16190],
      dtype='int64', length=226)

In [34]:
df[df['ambientes'].isna()]['descripcion'].str.contains('monoambiente',flags=re.IGNORECASE)

153       True
239      False
295      False
602      False
658      False
         ...
15828    False
15848    False
15899    False
16014     True
16190    False
Name: descripcion, Length: 226, dtype: object

In [35]:
#indices donde hay valores nulos en ambientes y fijarse si en descripcion existe la palabra monoambiente

indices = df.loc[df['ambientes'].isna() & df['descripcion'].str.contains('monoambiente', flags=re.IGNORECASE)].index

indices

Index([  153,   994,  1071,  1135,  1319,  1332,  1364,  1437,  1476,  2589,
        2667,  2743,  2927,  3057,  3189,  3229,  3262,  3267,  3366,  3522,
        3524,  3532,  3596,  4333,  4367,  4778,  4807,  4830,  4858,  4890,
        5109,  5114,  5352,  6016,  7566,  7829, 11137, 15063, 15556, 15634,
       15648, 15779, 15800, 16014],
      dtype='int64')

In [36]:
df.loc[indices, 'ambientes'] = 1

In [37]:
df.isnull().sum()

fecha                   0
tipo_transacción        0
precio_inmueble       461
datos                   0
ubicacion_gral          0
expensas            13402
descripcion            19
ambientes             182
baño                  678
cochera             10617
currency              461
valor_currency        461
localidad               0
jurisdiccion            0
terreno               316
metros_cuadrados     1003
dtype: int64

In [38]:
df[df['ambientes'].isna()]['descripcion'].str.contains('oficina',flags=re.IGNORECASE) 
#ver el subset del df de ambientes donde hay valores nules
# y a eso veo si en descripcion tiene la palabra oficina

239       True
295      False
602       True
658      False
865       True
         ...
15708    False
15828    False
15848    False
15899    False
16190    False
Name: descripcion, Length: 182, dtype: object

In [39]:
df['descripcion'] =df['descripcion'].fillna('')

mask = df['descripcion'].str.contains('oficina',flags=re.IGNORECASE) #valores de oficina

indices = df.index[mask].tolist()

In [40]:
df['oficina']= 'NO' #agrego el NO a todo

In [41]:
df.loc[indices,'oficina'] = 'SI' #modifico el si a esos casos

In [42]:
df['oficina'].value_counts()

oficina
NO    14225
SI     1978
Name: count, dtype: int64

In [43]:
mask2 =df[df['baño'].isna()]['descripcion'].str.contains("baño",flags=re.IGNORECASE)
indices_true = mask2[mask2].index.tolist()

In [44]:
index=df.loc[indices_true,'descripcion'].str.extract(r"(\d+ baño)",flags=re.IGNORECASE).index
                                                                                 #veo los que son nulos 
valores=df.loc[indices_true,'descripcion'].str.extract(r"(\d+ baño)",flags=re.IGNORECASE)[0]

df.loc[index,'baño']=valores

In [45]:
df.isnull().sum()

fecha                   0
tipo_transacción        0
precio_inmueble       461
datos                   0
ubicacion_gral          0
expensas            13402
descripcion             0
ambientes             182
baño                  573
cochera             10617
currency              461
valor_currency        461
localidad               0
jurisdiccion            0
terreno               316
metros_cuadrados     1003
oficina                 0
dtype: int64

In [46]:
mask2 =df[df['baño'].isna()]['descripcion'].str.contains("baño",flags=re.IGNORECASE)
indices_true = mask2[mask2].index.tolist()

len(indices_true) #donde no hay numero solo aparece la palabra baño

354

In [47]:
df.loc[indices_true,'baño'] = '1 baño' #les designo el 1

In [48]:
df['expensas'] = df['expensas'].fillna('0') #fill with 0 no hay expensas

In [49]:
df['cochera'] = df['cochera'].fillna('0 coch.') #no hay cochera

In [50]:
df['metros_cuadrados'] = df['metros_cuadrados'].mask(df['metros_cuadrados'].isnull(), df['terreno'])

In [51]:
df.isnull().sum()

fecha                 0
tipo_transacción      0
precio_inmueble     461
datos                 0
ubicacion_gral        0
expensas              0
descripcion           0
ambientes           182
baño                219
cochera               0
currency            461
valor_currency      461
localidad             0
jurisdiccion          0
terreno             316
metros_cuadrados    316
oficina               0
dtype: int64

In [52]:
indices_iguales = df.loc[df['metros_cuadrados'] == df['terreno']].index.tolist()

len(indices_iguales)

6869

In [53]:
df['metros_cuadrados']= df['metros_cuadrados'].str.split().str.get(0) #select only the first element

df['terreno'] =df['terreno'].str.split().str.get(0) #first element

In [54]:
df['ambientes'].isnull().sum()

182

In [55]:
df['ambientes'] = df['ambientes'].str.split().str.get(0) #first element

In [56]:
df['baño'] =df['baño'].fillna('1 baño')

In [57]:
df['baño'] = df['baño'].str.split().str.get(0)

In [58]:
df['expensas']=df['expensas'].str.split().str.get(1) #el valor de las expensas

In [59]:
df['expensas']=df['expensas'].str.replace('.','') #change the thousand point
df['expensas'] = df['expensas'].astype(float) #turn to float

In [60]:
df['ambientes'].value_counts()

ambientes
2     4897
1     3069
3     3008
4     2270
5     1478
6      721
7      273
8      131
9       54
10      46
11       8
22       8
12       4
15       2
18       2
46       2
14       2
13       1
20       1
Name: count, dtype: int64

In [61]:
df['ambientes'] =df['ambientes'].astype(float)

In [62]:
df['cochera']=df['cochera'].str.split().str.get(0)

In [63]:
df['cochera'].value_counts()

cochera
0      10617
1       3658
2       1359
3        234
4        194
5         77
6         37
10         9
8          7
7          7
22         2
9          1
300        1
Name: count, dtype: int64

In [64]:
df['cochera'] =df['cochera'].astype(float)

In [65]:
df['baño'] =df['baño'].astype(int)

In [66]:
df['valor_currency'] =df['valor_currency'].str.replace(',','')
df['valor_currency'] = df['valor_currency'].str.replace('.', '')

In [67]:
df['valor_currency']=df['valor_currency'].astype(float)

In [68]:
df['terreno']=df['terreno'].astype(float)
df['metros_cuadrados']=df['metros_cuadrados'].astype(float)

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16203 entries, 0 to 16202
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fecha             16203 non-null  int64
 1   tipo_transacción  16203 non-null  object
 2   precio_inmueble   15742 non-null  object
 3   datos             16203 non-null  object
 4   ubicacion_gral    16203 non-null  object
 5   expensas          2801 non-null   float64
 6   descripcion       16203 non-null  object
 7   ambientes         15977 non-null  float64
 8   baño              16203 non-null  int64
 9   cochera           16203 non-null  float64
 10  currency          15742 non-null  object
 11  valor_currency    15742 non-null  float64
 12  localidad         16203 non-null  object
 13  jurisdiccion      16203 non-null  object
 14  terreno           15887 non-null  float64
 15  metros_cuadrados  15887 non-null  float64
 16  oficina           16203 non-null  object
dtypes: float64(6), int64(2), object(9)
memory usage: 2.1+ MB

In [70]:
df=df[['fecha','tipo_transacción','jurisdiccion','localidad','ambientes',
       'baño','cochera','terreno','metros_cuadrados','oficina',
       'currency','valor_currency','expensas']]

In [71]:
df.describe()

,fecha,ambientes,baño,cochera,terreno,metros_cuadrados,valor_currency,expensas
count,16203.0,15977.000000,16203.000000,16203.000000,1.588700e+04,1.588700e+04,1.574200e+04,2.801000e+03
mean,20230706.0,2.949177,1.967845,0.556008,1.174979e+04,8.771431e+02,4.040846e+04,3.332232e+04
std,0.0,1.811655,33.157026,2.549255,7.116765e+05,7.959161e+04,1.254734e+06,1.085514e+05
min,20230706.0,1.000000,1.000000,0.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,20230706.0,2.000000,1.000000,0.000000,4.500000e+01,4.000000e+01,6.000000e+02,7.000000e+03
50%,20230706.0,3.000000,1.000000,0.000000,6.800000e+01,6.000000e+01,1.100000e+03,2.500000e+04
75%,20230706.0,4.000000,2.000000,1.000000,2.160000e+02,1.460000e+02,5.000000e+03,4.500000e+04
max,20230706.0,46.000000,4220.000000,300.000000,8.400000e+07,1.000000e+07,1.111111e+08,5.530250e+06

In [72]:
df['jurisdiccion']=df['jurisdiccion'].str.strip() #remove white space

In [73]:
df.loc[df['jurisdiccion'] == 'Palermo']

,fecha,tipo_transacción,jurisdiccion,localidad,ambientes,baño,cochera,terreno,metros_cuadrados,oficina,currency,valor_currency,expensas
3,20230706,alquiler_temporal,Palermo,Las Cañitas,2.0,2,0.0,55.0,48.0,NO,DOLAR,700.0,NaN
5,20230706,alquiler_temporal,Palermo,Palermo Chico,3.0,2,0.0,80.0,55.0,NO,DOLAR,1700.0,NaN
9,20230706,alquiler_temporal,Palermo,Palermo Viejo,1.0,1,0.0,40.0,40.0,NO,DOLAR,650.0,NaN
14,20230706,alquiler_temporal,Palermo,Las Cañitas,2.0,1,0.0,38.0,38.0,SI,DOLAR,550.0,NaN
18,20230706,alquiler_temporal,Palermo,Palermo Soho,1.0,1,0.0,30.0,28.0,NO,DOLAR,390.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7820,20230706,alquiler_temporal,Palermo,Palermo Hollywood,3.0,2,0.0,70.0,50.0,NO,DOLAR,700.0,NaN
7821,20230706,alquiler_temporal,Palermo,Palermo Soho,1.0,1,0.0,38.0,35.0,NO,DOLAR,650.0,NaN
7824,20230706,alquiler_temporal,Palermo,Palermo Soho,1.0,1,0.0,39.0,37.0,NO,DOLAR,550.0,NaN
7843,20230706,alquiler_temporal,Palermo,Palermo Soho,2.0,1,0.0,49.0,46.0,NO,DOLAR,850.0,NaN
7847,20230706,alquiler_temporal,Palermo,Las Cañitas,3.0,3,0.0,110.0,90.0,NO,DOLAR,999.0,NaN

In [262]:
conditions=['Palermo','Belgrano','Almagro','Caballito','Núñez','Flores','Saavedra','Mataderos']
df.loc[df['jurisdiccion'].isin(conditions), 'jurisdiccion'] = 'Capital Federal'

In [328]:
conditions = ['Pilar', 'Tigre', 'Nordelta', 'San Isidro', 
              'Vicente López', 'Escobar', 'General Pacheco','San Fernando','Zárate','Campana'
              'Benavidez','Villa Rosa','Don Torcuato',
              'Rincón de Milberg','San Miguel','La Cañada de Pilar','Garín','Zelaya'
              'El Cazador','Francisco Alvarez','El Cazador','El Cantón','Delta','Derqui',
              'Bella Vista','Dique Luján','Boulogne Sur Mer','Manzanares','Victoria',
              'Haras Santa María','Ingeniero Maschwitz','Luis Lagomarsino','Troncos del Talar',
              'Muñiz','Grand Bourg','Benavidez','General San Martín']
df.loc[df['jurisdiccion'].isin(conditions), 'jurisdiccion'] = 'GBA Norte'

In [257]:
conditions = ['Mar de las Pampas','Pinamar','Costa Esmeralda','Mar del Plata',
              'Buenos Aires Costa Atlántica','Mar Chiquita','Miramar','Chapadmalal',
              'Villa Gesell','Costa del Este','San Clemente del Tuyú']
df.loc[df['jurisdiccion'].isin(conditions), 'jurisdiccion'] = 'Costa Atlantica'

In [77]:
df.loc[df['localidad']=='Manzana Uno']='Mar de las Pampas'

In [ ]:
df.loc[df['localidad']=='Manzana Uno']='Mar de las Pampas'

In [84]:
condition=['Centro','Santa Rita del Lago','Villa del Lago']
df.loc[df['localidad'].isin(condition),'localidad']='Villa Carlos Paz'

In [325]:
conditions = ['Villa Carlos Paz','La Calera','Mendiolaza','San Antonio de Arredondo',
              'Unquillo','Los Reartes','Potrero de Garay','La Falda','Alta Gracia',
              'Malagueño','Agua de Oro','Villa Parque Siquiman','Salsipuedes','Bialet Massé',
              'Marcos Juárez','Valle Escondido','Santa Rosa de Calamuchita','Valle Hermoso',
              'Cosquín']
df.loc[df['jurisdiccion'].isin(conditions), 'jurisdiccion'] = 'Córdoba'

In [322]:
conditions = ['Exaltación de la Cruz','Villa Allende','Villanueva','Loma Verde','Luján','San Pedro',
              'San Antonio de Areco','Chascomús','Manuel Alberti','Baradero','Bahía Blanca',
              'San Andrés de Giles','La Lonja','San Miguel del Monte','Tornquist',
              'Tandil','Lobos','Mercedes','Maipú','Azul','Rauch','Tres Arroyos','Salto',
              'San Nicolás de los Arroyos','Coronel Suárez','Navarro','Comarcas de Luján',
              'Chivilcoy','Santa Catalina','General Viamonte','General Las Heras',
              'General Lavalle','General Rodríguez']
df.loc[df['jurisdiccion'].isin(conditions), 'jurisdiccion'] = 'Buenos Aires (fuera de GBA)'

In [211]:
conditions = ['Ituzaingó','Moreno','Malvinas Argentinas','Morón','La Matanza',
              'Tres de Febrero','Marcos Paz','José C Paz']
df.loc[df['jurisdiccion'].isin(conditions), 'jurisdiccion'] = 'GBA Oeste'

In [228]:
conditions = ['Ciudad de Mendoza','GBA Mendoza','Luján de Cuyo']
df.loc[df['jurisdiccion'].isin(conditions), 'jurisdiccion'] = 'Mendoza'

In [143]:
conditions = ['San Martín de los Andes','Villa La Angostura']
df.loc[df['jurisdiccion'].isin(conditions), 'jurisdiccion'] = 'Neuquen'

In [145]:
conditions = ['San Carlos de Bariloche']
df.loc[df['jurisdiccion'].isin(conditions), 'jurisdiccion'] = 'Rio Negro'

In [249]:
df.loc[((df['jurisdiccion']=='Cipolletti') & (df['localidad']=='Los Alamos')),'jurisdiccion'] ='Rio Negro'

In [251]:
df.loc[((df['jurisdiccion']=='Cipolletti') & (df['localidad']=='Villa Carlos Paz')),'jurisdiccion'] ='Córdoba'

In [326]:
df.jurisdiccion.value_counts().tail(30)

jurisdiccion
Capital Federal                7852
Costa Atlantica                3212
GBA Norte                      3156
Córdoba                         781
Buenos Aires (fuera de GBA)     547
Rio Negro                       234
GBA Oeste                       155
Mendoza                         137
Neuquen                          84
Entre Ríos                       22
Neuquén                          13
General San Martín               10
Name: count, dtype: int64

In [327]:
df[df['jurisdiccion']=='General San Martín']

,fecha,tipo_transacción,jurisdiccion,localidad,ambientes,baño,cochera,terreno,metros_cuadrados,oficina,currency,valor_currency,expensas
12970,20230706,alquiler_temporal,General San Martín,Villa Ballester,2.0,2,0.0,60.0,60.0,NO,DOLAR,400.0,NaN
13228,20230706,alquiler_temporal,General San Martín,Villa Maipu,2.0,1,0.0,50.0,46.0,SI,PESOS,180000.0,NaN
13434,20230706,alquiler_temporal,General San Martín,Villa Ballester,2.0,2,0.0,60.0,60.0,NO,DOLAR,400.0,NaN
13844,20230706,alquiler_temporal,General San Martín,Villa Ballester,3.0,3,1.0,120.0,60.0,NO,DOLAR,1000.0,NaN
13874,20230706,alquiler_temporal,General San Martín,Villa Ballester,2.0,2,0.0,60.0,60.0,NO,DOLAR,400.0,NaN
14203,20230706,alquiler_temporal,General San Martín,Villa Maipu,2.0,1,0.0,50.0,46.0,SI,PESOS,180000.0,NaN
14348,20230706,alquiler_temporal,General San Martín,Villa Ballester,3.0,3,1.0,120.0,60.0,NO,DOLAR,1000.0,NaN
14413,20230706,alquiler_temporal,General San Martín,Villa Maipu,2.0,1,0.0,50.0,46.0,SI,PESOS,180000.0,NaN
14495,20230706,alquiler_temporal,General San Martín,Villa Ballester,2.0,1,0.0,36.0,36.0,NO,DOLAR,450.0,NaN
14573,20230706,alquiler_temporal,General San Martín,Villa Maipu,2.0,1,0.0,44.0,40.0,SI,PESOS,180000.0,NaN

In [80]:


df.to_csv(f'./csv/final/zonaprops_preproc.csv', encoding='utf-8', index=False)

In [81]:
# Set up the database connection
#engine = create_engine('postgresql://agustin:Sofia187#@localhost:5432/props_db')



# Specify the table name and the engine for the database connection
#table_name = 'inmuebles_alquiler_mendoza'

# Write the DataFrame to the PostgreSQL database
#df.to_sql(table_name, engine,  index=False)
#df.to_sql(table_name,engine, if_exists='append' ,index=False)

# Close the database connection
#engine.dispose()