In [60]:
import pandas as pd
import re
from sqlalchemy import create_engine

In [61]:
df= pd.read_csv('csv/20230618zonaprops_inmuebles-alquiler-mendoza.csv')
df

,fecha,tipo_transacción,precio_inmueble,datos,barrio,expensas,descripcion
0,20230618,venta_inmueble,USD 4.500,360 m² 360 m² 360 m² 360 m²,"Ciudad de Mendoza, Mendoza",NaN,El inmueble se encuentra reciclado con un fren...
1,20230618,venta_inmueble,USD 1.500,750 m² 750 m² 290 m² 290 m² 5 amb. ...,"Chacras de Coria, Mendoza",$ 27.500 Expensas,La propiedad se encuentra ubicada en el corazó...
2,20230618,venta_inmueble,USD 1.200,450 m² 450 m² 285 m² 285 m² 4 amb. ...,"Ciudad de Mendoza, Mendoza",$ 25.000 Expensas,Wonder vende Casa ubicada en Barrio dalvian. D...
3,20230618,venta_inmueble,USD 1.300,540 m² 540 m² 320 m² 320 m² 3 dorm. ...,"Club de Campo, Guaymallén",NaN,Esta hermosa casa en alquiler esta ubicada en ...
4,20230618,venta_inmueble,$ 35.000,200 m² 200 m² 50 m² 50 m² 2 amb. 2 ...,"Villa Nueva, Mendoza",NaN,"Avellaneda esquina Godoy Cruz, a metros del ve..."
...,...,...,...,...,...,...,...
219,20230618,venta_inmueble,$ 95.000,95 m² 95 m² 77 m² 77 m² 3 amb. 3 am...,"Guaymallén, Mendoza",NaN,El departamento se encuentra en planta alta po...
220,20230618,venta_inmueble,USD 400,65 m² 65 m² 65 m² 65 m² 1 baño 1 ba...,"Cuarta Sección, Ciudad de Mendoza",NaN,Alquiler Departamento Temporario - Ciudad Mend...
221,20230618,venta_inmueble,$ 75.000,80 m² 80 m² 70 m² 70 m² 2 dorm. 2 d...,"Las Heras, Mendoza",NaN,Hermoso departamento ubicado en el centro de L...
222,20230618,venta_inmueble,$ 100.000,200 m² 200 m² 90 m² 90 m² 3 amb. 3 ...,"Villa Nueva, Mendoza",$ 5.800 Expensas,"El departamento cuenta con 2 dormitorios, ambo..."
223,20230618,venta_inmueble,$ 500.000,450 m² 450 m² 450 m² 450 m²,"Coquimbito, Maipú",NaN,Century21 Barroso Alquila! Galpon sobre carril...

In [62]:
df['datos']= df['datos'].fillna('SINDATO')

In [63]:

df['datos']=df['datos'].str.rstrip() #rstrip to remove right spaces and split to deal with repeated values

df['datos']= df['datos'].str.split('  ')
df['datos']

0                   [ 360 m²,  360 m²,  360 m²,  360 m²]
1      [ 750 m²,  750 m²,  290 m²,  290 m²,  5 amb., ...
2      [ 450 m²,  450 m²,  285 m²,  285 m²,  4 amb., ...
3      [ 540 m²,  540 m²,  320 m²,  320 m²,  3 dorm.,...
4      [ 200 m²,  200 m²,  50 m²,  50 m²,  2 amb.,  2...
                             ...
219    [ 95 m²,  95 m²,  77 m²,  77 m²,  3 amb.,  3 a...
220    [ 65 m²,  65 m²,  65 m²,  65 m²,  1 baño,  1 b...
221    [ 80 m²,  80 m²,  70 m²,  70 m²,  2 dorm.,  2 ...
222    [ 200 m²,  200 m²,  90 m²,  90 m²,  3 amb.,  3...
223                 [ 450 m²,  450 m²,  450 m²,  450 m²]
Name: datos, Length: 224, dtype: object

In [64]:
df['datos'] =df['datos'].apply(lambda x: [val for idx, val in enumerate(x) if idx % 2 == 0])

In [65]:
for i in df['datos']:
    if len(i)==2:
        print(i)

[' 360 m²', ' 360 m²']
[' 55 m²', ' 40 m²']
[' 500 m²', ' 500 m²']
[' 200 m²', ' 200 m²']
[' 989 m²', ' 989 m²']
[' 600 m²', ' 600 m²']
[' 70 m²', ' 70 m²']
[' 2367 m²', ' 6 baños']
[' 500 m²', ' 1 m²']
[' 230 m²', ' 1 m²']
[' 215 m²', ' 90 m²']
[' 2 m²', ' 1 m²']
[' 192 m²', ' 1 baño']
[' 11 m²', ' 11 m²']
[' 60 m²', ' 45 m²']
[' 1000 m²', ' 700 m²']
[' 112 m²', ' 2 baños']
[' 714 m²', ' 3 baños']
[' 70 m²', ' 70 m²']
[' 30 m²', ' 30 m²']
[' 450 m²', ' 450 m²']

In [66]:
df['datos'].str[0]

0       360 m²
1       750 m²
2       450 m²
3       540 m²
4       200 m²
        ...
219      95 m²
220      65 m²
221      80 m²
222     200 m²
223     450 m²
Name: datos, Length: 224, dtype: object

In [67]:
df['datos']= df['datos'].str.join(' ')

In [68]:
df['ambientes'] = df['datos'].str.extract(r"(\d+ amb.)")

In [69]:
df['baño'] = df['datos'].str.extract(r"(\d+ baño)")
df['baño']

0         NaN
1      2 baño
2      2 baño
3      3 baño
4      1 baño
        ...
219    1 baño
220    1 baño
221    1 baño
222    2 baño
223       NaN
Name: baño, Length: 224, dtype: object

In [70]:
df['cochera']=df['datos'].str.extract(r"(\d+ coch.)")

In [71]:
df['precio_inmueble']

0      USD 4.500
1      USD 1.500
2      USD 1.200
3      USD 1.300
4       $ 35.000
         ...
219     $ 95.000
220      USD 400
221     $ 75.000
222    $ 100.000
223    $ 500.000
Name: precio_inmueble, Length: 224, dtype: object

In [72]:
df['currency'] = df['precio_inmueble'].str.split()

In [73]:
df['currency'] =df['currency'].apply(lambda x: x[0])

df['currency']

0      USD
1      USD
2      USD
3      USD
4        $
      ...
219      $
220    USD
221      $
222      $
223      $
Name: currency, Length: 224, dtype: object

In [74]:

currency_transform ={'USD':'DOLAR','$':'PESOS'} #transformed the currency
df['currency'] =df['currency'].map(currency_transform)

In [75]:
df['currency']

0      DOLAR
1      DOLAR
2      DOLAR
3      DOLAR
4      PESOS
       ...
219    PESOS
220    DOLAR
221    PESOS
222    PESOS
223    PESOS
Name: currency, Length: 224, dtype: object

In [76]:
df['valor_currency'] = df['precio_inmueble'].str.split()

df['valor_currency'] =df['valor_currency'].apply(lambda x: x[1])

In [77]:
df['valor_currency']

0        4.500
1        1.500
2        1.200
3        1.300
4       35.000
        ...
219     95.000
220        400
221     75.000
222    100.000
223    500.000
Name: valor_currency, Length: 224, dtype: object

In [78]:
# Set up the database connection
engine = create_engine('postgresql://agustin:Sofia187#@localhost:5432/props_db')



# Specify the table name and the engine for the database connection
table_name = 'inmuebles_alquiler_mendoza'

# Write the DataFrame to the PostgreSQL database
df.to_sql(table_name, engine,  index=False)
#df.to_sql(table_name,engine, if_exists='append' ,index=False)

# Close the database connection
engine.dispose()